In [1]:
import pandas as pd
import numpy as np

In [28]:
best= pd.read_csv('сабмиссия лучшая по первому разделению_115414.csv', sep=',', index_col=None)
cand_22= pd.read_csv('тест 22 неизвестных.csv', sep=',', index_col=None)
cand_3= pd.read_csv('тест 3 наиболее значимых.csv', sep=',', index_col=None)
test= pd.read_csv('test_predobr.csv', sep=';', index_col=None)
claster_for3=pd.read_csv('tabliza_clasters_for3.csv', sep=';', index_col=None)

In [41]:
# лучшая на момент разделения по верхней части сабмиссия
best['overall_worklogs'].value_counts()

17134     464
11692     302
3681       88
2044       79
871        29
7031       29
5376       26
30206      25
64703      23
66322       2
530386      2
137018      1
Name: overall_worklogs, dtype: int64

In [30]:
# Найденные по результатам модели разделения наиболее значимые записи (с результатами, присвоенными перебором по 10 кластерам
# значений трейна от 68000)
cand_3

        id  overall_worklogs
0  1151895            113422
1  1840027            157192
2  2181164            304520

In [31]:
# Таблица кластеров, по которой проводилось распределение значений по 3-м
claster_for3

    claster_centr  Номер кластера
0         1269200               0
1          157192               1
2         7014000               2
3         1698780               3
4         3393960               4
5          304520               5
6          113422               6
7         2328360               7
8          859500               8
9         1155000               9
10         224307              10
11         528825              11
12         437220              12
13        2097720              13
14          80774              14
15         636000              15

In [32]:
# Найденные по модели второго разделния 22 значения без изменений паблика при изменении значений
# (вероятно, записи для проверки модели на привате)
cand_22.merge(best, how="left", on="id")

         id  overall_worklogs
0    721893             64703
1    721675             17134
2   1840026             17134
3   1040330             11692
4   1263112             11692
5    721322             17134
6   1200583             64703
7   1484347             64703
8   1484375             17134
9    721803             17134
10   721171             17134
11  1066158            530386
12  1484347             64703
13  1828683             64703
14  1153669            530386
15  1828683             64703
16  1848832            137018
17  2104546             17134
18   679000              3681
19  1263114             17134
20   721171             17134
21   721445             17134

In [33]:
# Создание теста для модели прогнозирования значений 22 неизвестных
test_22=cand_22.merge(test, how="left", on="id")
test_22.to_csv('test_22.csv', sep=';', index=None)
test_22

,id,Id_razn,mean_words_comment,count_comments,project_id,Mesto_in_project,Year,Month,Day,Hour,DayOfWeek,assignee_id,creator_id,summary_to_eng,Text_Summa
0,721893,0,0.0,0,13,8.633505,2020,11,17,3,2,149,149,"“Community” section, layout and components","“Community” section, layout and components"
1,721675,0,0.0,0,13,8.841243,2020,12,3,14,4,107,107,Design Links in Canvas,Design Links in Canvas
2,1840026,0,0.0,0,29,0.319829,2021,5,16,23,7,291,291,Mega battery charger,Mega battery charger
3,1040330,0,0.0,0,13,9.996188,2021,2,11,13,4,107,107,Create quick template mockup,Create quick template mockup
4,1263112,0,0.0,0,29,9.968017,2021,3,27,19,6,1,291,Tests of a new power module with MPPT charging,Tests of a new power module with MPPT charging
5,721322,0,0.0,0,13,9.177625,2020,12,29,6,2,149,149,"TeachMe - podcasts and audio courses (Screens,...","TeachMe - podcasts and audio courses (Screens,..."
6,1200583,0,0.0,0,29,9.893390,2021,3,10,16,3,291,291,Device tests after power optimization,Device tests after power optimization
7,1484347,0,0.0,0,29,9.989339,2021,4,12,19,1,291,291,solar panel logger,solar panel logger
8,1484375,0,7.0,1,29,10.000000,2021,4,12,19,1,291,291,Rollover to RPi,Rollover to RPi https://maddevs.atlassian.net/...
9,721803,0,0.0,0,13,8.719268,2020,11,23,14,1,107,107,whiteboard design,whiteboard design
10,721171,0,0.0,0,13,9.321517,2021,1,7,13,4,107,107,Teach Me Concept Design,Teach Me Concept Design
11,1066158,0,1.0,1,29,9.829424,2021,2,26,8,5,403,403,Gaukhar Communications,Gaukhar Communications test
12,1484347,0,0.0,0,29,9.989339,2021,4,12,19,1,291,291,solar panel logger,solar panel logger
13,1828683,0,0.0,0,29,0.245203,2021,5,4,17,2,403,403,Gaukhar Communications,Gaukhar Communications
14,1153669,0,0.0,0,29,9.850746,2021,3,4,4,4,208,208,Communications (Dan),Communications (Dan)
15,1828683,0,0.0,0,29,0.245203,2021,5,4,17,2,403,403,Gaukhar Communications,Gaukhar Communications
16,1848832,0,0.0,0,29,0.479744,2021,5,25,1,2,291,291,Firmware,Firmware
17,2104546,0,0.0,0,29,0.810235,2021,7,1,17,4,403,403,Gaukhar Communications JULY 2021,Gaukhar Communications JULY 2021
18,679000,0,0.0,0,48,1.260054,2020,6,24,20,3,1,1,Change url structure for blog posts,Change url structure for blog posts
19,1263114,0,0.0,0,29,9.957356,2021,3,27,19,6,291,291,Set up logging on the prod,Set up logging on the prod
20,721171,0,0.0,0,13,9.321517,2021,1,7,13,4,107,107,Teach Me Concept Design,Teach Me Concept Design
21,721445,0,0.0,0,13,9.060415,2020,12,21,10,1,149,149,Update Appearance for Lesson Templates,Update Appearance for Lesson Templates

In [34]:
# из 3-х точно найденных больших значений формирует контрольный пул (проверка на точность предсказаний модели)
control_pool=cand_3[['id']]
control_test=control_pool.merge(test, how="left", on="id")
control_test.to_csv('control_test.csv', sep=';', index=None)
control_test

,id,Id_razn,mean_words_comment,count_comments,project_id,Mesto_in_project,Year,Month,Day,Hour,DayOfWeek,assignee_id,creator_id,summary_to_eng,Text_Summa
0,1151895,0,0.0,0,29,9.840085,2021,3,2,21,2,291,291,Energy optimization,Energy optimization
1,1840027,0,0.0,0,29,0.309168,2021,5,16,23,7,291,291,Power module for RPI,Power module for RPI
2,2181164,0,0.0,0,29,0.980810,2021,7,21,15,3,291,291,Device tests,Device tests

In [36]:
# Загрузка таблицы 5 прогнозов, сделанных последней моделью для 22 неизвестных (с указанием сидов модели для воспроизведения)
prognoses_22= pd.read_csv('prognoses for 22.csv', sep=',', index_col=None)
prognoses_22

         id   Sid 8  Sid 21   Sid32   Sid43   Sid77
0    721893   25206   25206   25206   25206   25206
1    721675   25206   25206   25206   25206   25206
2   1840026  136290  136290  136290  136290  136290
3   1040330   25206  262089  262089  136290  262089
4   1263112   62559   62559   62559   25206  262089
5    721322   25206   62559   25206   25206   25206
6   1200583   62559   62559   25206   62559   62559
7   1484347   62559   62559   25206   62559   62559
8   1484375   62559   62559   25206   62559   25206
9    721803   25206   62559  136290   25206   25206
10   721171   25206   25206   25206   25206   25206
11  1066158  539636  539636  539636   62559  539636
12  1484347   62559   62559   25206   62559   62559
13  1828683   62559   62559   62559  262089   62559
14  1153669  539636  539636  539636   62559  539636
15  1828683   62559   62559   62559  262089   62559
16  1848832   62559   62559   62559   62559  136290
17  2104546   62559  539636   62559  262089  262089
18   679000   25206   25206   25206   25206   25206
19  1263114   25206  136290   25206   25206   62559
20   721171   25206   25206   25206   25206   25206
21   721445   25206   25206   62559   25206   25206

In [39]:
# Формируем усреднение 5-и прогнозов.
# С целью минимизации потерь при ошибке, наибольшие значения фиксируем по центру кластера нижней границы
prognoses_22['Abs']=np.round((prognoses_22['Sid 8']+prognoses_22['Sid 21']+prognoses_22['Sid32']+prognoses_22['Sid43']+prognoses_22['Sid77'])/5, 0)
prognoses_22.loc[(prognoses_22['Abs']>262089),'Abs']=262089
prognoses_22.loc[(prognoses_22['Abs']>136290)&(prognoses_22['Abs']<262089),'Abs']=136290
prognoses_22

         id   Sid 8  Sid 21   Sid32   Sid43   Sid77       Abs
0    721893   25206   25206   25206   25206   25206   25206.0
1    721675   25206   25206   25206   25206   25206   25206.0
2   1840026  136290  136290  136290  136290  136290  136290.0
3   1040330   25206  262089  262089  136290  262089  136290.0
4   1263112   62559   62559   62559   25206  262089   94994.0
5    721322   25206   62559   25206   25206   25206   32677.0
6   1200583   62559   62559   25206   62559   62559   55088.0
7   1484347   62559   62559   25206   62559   62559   55088.0
8   1484375   62559   62559   25206   62559   25206   47618.0
9    721803   25206   62559  136290   25206   25206   54893.0
10   721171   25206   25206   25206   25206   25206   25206.0
11  1066158  539636  539636  539636   62559  539636  262089.0
12  1484347   62559   62559   25206   62559   62559   55088.0
13  1828683   62559   62559   62559  262089   62559  102465.0
14  1153669  539636  539636  539636   62559  539636  262089.0
15  1828683   62559   62559   62559  262089   62559  102465.0
16  1848832   62559   62559   62559   62559  136290   77305.0
17  2104546   62559  539636   62559  262089  262089  136290.0
18   679000   25206   25206   25206   25206   25206   25206.0
19  1263114   25206  136290   25206   25206   62559   54893.0
20   721171   25206   25206   25206   25206   25206   25206.0
21   721445   25206   25206   62559   25206   25206   32677.0

In [42]:
# Сводим прогноз по 22 и прогноз по 3 в одну группу
prognoses_22=prognoses_22[['id','Abs']]
prognoses_22.columns=['id','overall_worklogs']
prognoses_25=pd.concat([prognoses_22,cand_3])
prognoses_25['overall_worklogs']=prognoses_25['overall_worklogs'].astype(int)

In [43]:
# Вводим прогнозы в лучший исходный вариант
prognoses_25.columns=['id','var1']
new=best.merge(prognoses_25, how="left", on="id")
new.loc[(~new['var1'].isna()),'overall_worklogs']=new['var1']
new=new[['id','overall_worklogs']]
new['overall_worklogs']=new['overall_worklogs'].astype(int)
new['overall_worklogs'].value_counts()

17134     454
11692     300
3681       87
2044       79
871        29
7031       29
5376       26
30206      25
64703      17
25206       5
55088       3
136290      3
262089      2
102465      2
54893       2
32677       2
66322       2
113422      1
94994       1
47618       1
157192      1
77305       1
304520      1
Name: overall_worklogs, dtype: int64

In [44]:
new.to_csv('итоговый прогноз.csv', sep=',', index=None)